<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>

    <div id="app">
        <v-app id="inspire">
            <div>
                <v-row justify="center">
                    <v-dialog v-model="dialog" width="600px">
                        <template v-slot:activator="{ on }">
                            <v-btn color="primary" dark v-on="on">See detail</v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="headline">Use Google's location service?</span>
                            </v-card-title>
                            <v-card-text>Lorem ipsum dolor sit amet, semper quis, sapien id natoque elit. Nostra
                                urna at, magna at neque sed sed ante imperdiet, dolor mauris cursus velit, velit
                                non, sem nec. Volutpat sem ridiculus placerat leo, augue in, duis erat proin
                                condimentum in a eget, sed fermentum sed vestibulum varius ac, vestibulum volutpat
                                orci ut elit eget tortor. Ultrices nascetur nulla gravida ante arcu. Pharetra
                                rhoncus morbi ipsum, nunc tempor debitis, ipsum pellentesque, vitae id quam ut
                                mauris dui tempor, aptent non. Quisque turpis. Phasellus quis lectus luctus orci
                                eget rhoncus. Amet donec vestibulum mattis commodo, nulla aliquet, nibh praesent,
                                elementum nulla. Sit lacus pharetra tempus magna neque pellentesque, nulla vel erat.
                                Justo ex quisque nulla accusamus venenatis, sed quis. Nibh phasellus gravida metus
                                in, fusce aenean ut erat commodo eros. Ut turpis, dui integer, nonummy pede placeat
                                nec in sit leo. Faucibus porttitor illo taciti odio, amet viverra scelerisque quis
                                quis et tortor, curabitur morbi a. Enim tempor at, rutrum elit condimentum, amet
                                rutrum vitae tempor torquent nunc. Praesent vestibulum integer maxime felis. Neque
                                aenean quia vitae nostra, tempus elit enim id dui, at egestas pulvinar. Integer
                                libero vestibulum, quis blandit scelerisque mattis fermentum nulla, tortor donec
                                vestibulum dolor amet eget, elit nullam. Aliquam leo phasellus aliquam curabitur
                                metus a, nulla justo mattis duis interdum vel, mollis vitae et id, vestibulum erat
                                ridiculus sit pulvinar justo sed. Vehicula convallis, et nulla wisi, amet vestibulum
                                risus, quam ac egestas.
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="green darken-1" text @click="dialog = false">Disagree</v-btn>
                                <v-btn color="green darken-1" text @click="dialog = false">Agree</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-row>

                <v-row>
                    <v-btn @click="dialog2 = true" text color="primary">See detail</v-btn>
                    <v-dialog v-model="dialog2" max-width="700">
                        <v-card>
                            <v-card-title>Use Google's location service?</v-card-title>

                            <v-card-text>
                                Let Google help apps determine location. This means sending anonymous location data to
                                Let Google help apps determine location. This means sending anonymous location data to
                                Let Google help apps determine location. This means sending anonymous location data to
                                Let Google help apps determine location. This means sending anonymous location data to
                                Let Google help apps determine location. This means sending anonymous location data to
                                Let Google help apps determine location. This means sending anonymous location data to
                                Let Google help apps determine location. This means sending anonymous location data to
                                Let Google help apps determine location. This means sending anonymous location data to
                                Let Google help apps determine location. This means sending anonymous location data to
                                Let Google help apps determine location. This means sending anonymous location data to
                                Let Google help apps determine location. This means sending anonymous location data to
                                Let Google help apps determine location. This means sending anonymous location data to
                                Google, even when no apps are running.
                                Google, even when no apps are running.
                                Google, even when no apps are running.
                                Google, even when no apps are running.
                                Google, even when no apps are running.
                                Google, even when no apps are running.
                                Google, even when no apps are running.
                                Google, even when no apps are running.
                                Google, even when no apps are running.
                                Google, even when no apps are running.
                                Google, even when no apps are running.
                                Google, even when no apps are running.
                                Google, even when no apps are running.
                                Google, even when no apps are running.
                                Google, even when no apps are running.
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="green" text @click="dialog2 = false">
                                    Close
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-row>

            </div>
        </v-app>
    </div>

</body>


<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>
    var app = new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data() {
            return {
                dialog: false,
                dialog2: false,
            }
        },
    })
</script>

</html>